@charset"utf-8";

@font-face {
  font-family: InterR;
  src: url(../webfonts/Inter_24pt-Regular.woff) format("woff");
}
@font-face {
  font-family: InterM;
  src: url(../webfonts/Inter_24pt-Medium.woff) format("woff");
}
@font-face {
  font-family: InterSB;
  src: url(../webfonts/Inter_24pt-SemiBold.woff) format("woff");
}
@font-face {
  font-family: InterB;
  src: url(../webfonts/Inter_24pt-Bold.woff) format("woff");
}
@font-face {
  font-family: InterEB;
  src: url(../webfonts/Inter_24pt-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: NotoR;
  src: url(../webfonts/NotoSansKR-Regular.woff) format("woff");
}

*{margin: 0; padding: 0; text-transform: uppercase;}
ul{list-style: none;}
a{text-decoration: none;}

#wrap{overflow-x: hidden;}


/* fp-nav 시작 */
#fp-nav{
  transform: scale(1.7) !important;
  width: 5%;
}
#fp-nav ul{
  width: 100%;
  display: flex; flex-direction: column;
  align-items: center;
}
#fp-nav ul li a span{
  background-color: #ccc !important;
}
#fp-nav ul li a.active span{
  background-color: #7DD8FF !important;
}

/* header 시작 */
header{
  width: 100%; height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .2);
  position: relative;
  position: fixed; z-index: 99;
  padding: 0 25px; box-sizing: border-box;
  transition: .3s;
}
header .head_bg{
  position: absolute; top: 85px; left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 98;
  transition: .5s;
}
header .logo{cursor: pointer;}
header ul.nav{
  display: flex;
  text-align: center;
}
header ul.nav>li{position: relative;}
header ul.nav>li>a{
  color: #fff;
  line-height: 85px;
  padding: 0 35px;
  font-size: 17px;
  display: block;
  transition: color .3s;
  font-family: InterSB;
}
header ul.nav .sub{
  height: 0;
  position: absolute; left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  overflow: hidden;
  transition: .5s;
}
header ul.nav:hover .sub{
  height: 290px;
}
header ul.nav .sub li a{
  color: #555;
  line-height: 35px;
  font-size: 14px;
  white-space: nowrap;
  letter-spacing: -0.5px;
  transition: .3s;
  font-family: InterM, NotoR;
}
header ul.nav .sub li a:hover{
  color: #38C3FF;
}
header ul.nav .third li a{
  color: #888;
  font-size: 14.5px;
}
header ul.right{
  display: flex;
  gap: 20px;
}


/* s0 시작 */
.s0{
  width: 100%; height: 100vh;
  background: url(../images/s0_bg.jpg) center/cover no-repeat;
}


/* s1 시작 */
.s1{
  width: 100%; height: 100vh;
  background: url(../images/s1_bg.jpg) center/cover no-repeat;
  position: relative;
}
.conAll{
  width: 80%; height: 100%;
  display: flex; flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding-left: 10%; box-sizing: border-box;
  position: relative; z-index: 5;
}
.conAll .txt{
  display: flex; flex-direction: column;
  gap: 40px; color: #fff;
}
.conAll .txt h1.title{
  font-family: InterB;
  /* font-size: 120px; */
  font-size: 7vw;
  line-height: 180px;
}
.conAll .txt h4{
  font-family: InterM;
  font-weight: normal;
  font-size: 3.7vw;
  margin-bottom: 40px;
}

.s1 .conAll .txt h4 span{color: #7DD8FF;}
.conAll .txt p{
  font-family: NotoR;
  font-size: 17px;
  line-height: 30px;
}
.conAll .txt p br.m{display: none;}
.conAll .btn{
  align-self: flex-end;
  position: relative;
  left: -150px;
}
.conAll .btn a{
  color: #fff;
  display: block;
  width: 80px; height: 80px;
  border-radius: 55px;
  background-color: rgba(255, 255, 255, .3);
  border: 2.5px solid #fff;
  position: absolute;
  transition: .5s;
}
.conAll .btn p{
  position: absolute; display: inline-block;
  line-height: 80px;
}
.conAll .btn p:first-child{
  width: 0; overflow: hidden;
  white-space: nowrap;
  transition: .5s;
  font-family: InterM;
  font-size: 20px;
  margin-left: 25px;
}
.conAll .btn p:last-child{
  width: 80px; height: 80px;
  line-height: 80px; text-align: center;
  transition: .5s;
}
.conAll .btn p:last-child img{
  vertical-align: middle;
  width: 45%;
  margin-top: -5px;
}
.conAll .btn:hover a{
  width: 300px;
  background-image: linear-gradient( to right, rgba(255, 255, 255, .3), rgba(0, 255, 48, .3));
}
.conAll .btn:hover p:first-child{
  width: 220px; transition: .5s;
}
.conAll .btn:hover p:last-child{
  transform: translateX(220px);
  transition: .5s;
}
.s1 > p {position: absolute; left: 5%;top: 0;
  width: 87%;
  height: 100%;
z-index: 3;}
.s1 > p img {
  width: 100%; height: 100%; object-fit: cover;
}

/* s2 시작 */
.s2{
  width: 100%; height: 100vh;
  background: url(../images/s2_bg.jpg) center/cover no-repeat;
  position: relative;
}
.s2 .conAll .txt h4 span{color: #99FFAC;}
.s2 > p {position: absolute; left: 5%;top: 0;
  width: 87%;
  height: 100%;
z-index: 3;}
.s2 > p img {
  width: 100%; height: 100%; object-fit: cover;
}

/* s3 시작 */
.s3{
  width: 100%; height: 100vh;
  background: url(../images/s3_bg.jpg) center/cover no-repeat;
  position: relative;
}
.s3 .conAll .txt h4 span{color: #99FFAC;}
.s3 > p {position: absolute; left: 5%;top: 0;
  width: 87%;
  height: 100%;
z-index: 3;}
.s3 > p img {
  width: 100%; height: 100%; object-fit: cover;
}


/* s4 시작 */
.s4{
  width: 100%; height: 100vh;
  display: flex; flex-direction: column;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}
.s4 .bgTxt{
  display: flex;
  animation: bgTxt 20s linear 1s infinite reverse both;
  position: absolute; z-index: 10;
  top: 13%;
}
@keyframes bgTxt {
  0%{transform: translateX(-25%);}
  100%{transform: translateX(0%);}
}

.s4 .contents{
  width: 75%; margin: 0 auto;
  display: flex;
  height: 50%;
}
.s4 .contents li{
  position: relative; z-index: 9;
  transition: .5s;
}
.s4 .contents li::after{
  content: "";
  width: 100%; height: 30%;
  position: absolute; left: 0; top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, .4), transparent);
}
.s4 .contents li.on{
  flex: 1 0 50%;
}
.s4 .contents li h3{
  position: absolute; left: 0; top: 0;
  z-index: 1;
  color: #fff;
  font-family: NotoR;
  font-weight: bold;
  padding: 20px 30px; box-sizing: border-box;
  transition: .5s;
  width: 100%;
  text-align: center;
}
.s4 .contents li h3.on{
  font-size: 25px;
  text-align: left;
}
.s4 .contents li p{
  width: 100%; height: 100%;
}
.s4 .contents li p img{
  width: 100%; height: 100%; object-fit: cover;
}
.s4 .con_txt{
  width: 75%; margin: 0 auto;
  position: relative; z-index: 9;
  height: 13%;
}
.s4 .con_txt li{
  position: absolute;
  left: 0; top: 30px;
  display: flex; gap: 100px;
  align-items: center;
  opacity: 0;
  transition: .3s;
}
.s4 .con_txt li .left_txt h3{
  font-family: InterSB;
  font-weight: normal;
  color: #002569;
  font-size: 30px;
}
.s4 .con_txt li .left_txt p{
  font-family: NotoR;
  font-size: 18px;
  margin-top: 15px;
  color: #333;
}
.s4 > p {
  position: absolute; left: 5%;top: 0;
  width: 87%; height: 100%;
  z-index: 3;
}
.s4 > p img {
  width: 100%; height: 100%; object-fit: cover;
}


/* s5 시작 */
.s5{
  width: 100%;
  transition: .5s;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.s5 .bg{
  position: absolute; left: 0;top: 0;
  width: 100%; height: 100%;
}
.s5 .bg li{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute; left: 0;top: 0;
  width: 100%; height: 100%;
  opacity: 0;
  transition: .5s;
}
.s5 .bg1{
  background-image: url(../images/s5_bg01.jpg);
}
.s5 .bg2{
  background-image: url(../images/s5_bg02.jpg);
}
.s5 .bg3{
  background-image: url(../images/s5_bg03.jpg);
}
.s5 .bg4{
  background-image: url(../images/s5_bg04.jpg);
}
.s5 .bg5{
  background-image: url(../images/s5_bg05.jpg);
}
/* .s5 > div, .s5 > ul {
  
} */
.s5 .inner{
  width: 90%;
  position: relative; z-index: 10;
  display: flex; justify-content: end;
  padding-top: 15%;
  box-sizing: border-box;
  height: 100%;
}
.s5 .left{
  width: 45%; min-height: 100vh;
  position: absolute; top: 0; left: 0;
  color: #fff;
  display: flex; flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: .5s;
}
.s5 .left h1{
  font-family: InterEB;
  font-size: 60px;
  width: 100%;
}
.s5 .left p{
  font-family: NotoR;
  font-size: 17px;
  line-height: 35px;
  width: 100%;
}
.s5 .right{
  width: 45%;
  display: flex; flex-wrap: wrap;
  justify-content: space-between;
}
.s5 .right li{
  flex-basis: 42%;
  aspect-ratio: 1 / 1.1;
  border-radius: 25px;
  padding: 40px 30px;
  box-sizing: border-box;
  display: flex; flex-direction: column;
  justify-content: space-between;
}
.s5 .right li:nth-child(even){
  margin-top: 50%;
}
.s5 .right li:nth-child(odd){
  margin-bottom: 50%;
}
.s5 .right li:nth-child(5){
  margin-bottom: 20%;
}
.s5 .right li .top{
  display: flex;
  justify-content: space-between;
  color: #222;
  font-family: InterB;
  /* font-size: 16px; */
}
.s5 .right li .middle{
  text-align: center;
  font-size: 0;
  margin: 20px auto;
  width: 45%; min-width: 80px;
}
.s5 .right li .middle img{
  width: 100%; object-fit: cover;
}
.s5 .right li .bottom{
  display: flex; flex-direction: column;
  text-align: center;
  gap: 25px;
}
.s5 .right li .bottom p{
  font-family: NotoR;
  /* font-size: 22px; */
  font-size: 1.5vw;
  letter-spacing: -1px;
  color: #222;
}
.s5 .right li .bottom .download{
  font-family: InterR;
  font-size: 14px;
  background-color: #002569;
  line-height: 40px;
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  border-radius: 20px;
  cursor: pointer;
  padding-right: 15px;
  display: flex;
}
.s5 .right li .bottom .download span{
  padding-left: 15px;
  position: relative;
}
.s5 .right li .bottom .download .lang span:hover{
  color: #99FFAC;
}
.s5 .right li .bottom .download .lang span:nth-child(2)::after{
  content: "";
  position: absolute; left: 5px; top: 50%;
  transform: translateY(-50%);
  width: 2px; height: 10px; background-color: #fff;
  opacity: .3;
}
.s5 .right li .bottom .download>span img{
  position: relative; top: 2px;
}


/* footer 시작 */
footer{
  width: 100%; background-color: #002569;
  padding: 70px 100px; box-sizing: border-box;
}
footer .top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  position: relative;
}
footer .top::after{
  content: "";
  position: absolute; left: 0; bottom: -50px;
  width: 100%; height: 1px;
  background-color: #4C6696;
}
footer .top .left{
  display: flex; flex-direction: column;
  color: #fff;
}
footer .top .left .foot_logo{
  max-width: 200px;
}
footer .top .left .foot_logo img{
  width: 100%; object-fit: cover;
}
footer .top .left ul{margin-top: 15px;}
footer .top .left ul li{
  font-size: 13.5px;
  font-family: NotoR;
  line-height: 25px;
}
footer .top .foot_nav{
  display: flex; gap: 50px;
}
footer .top .foot_nav a{
  color: #fff;
}
footer .top .foot_nav>li>a{
  font-family: InterSB;
  font-size: 15px;
}
footer .top .foot_nav .sub{
  margin-top: 15px;
}
footer .top .foot_nav .sub a{
  font-family: InterR, NotoR;
  font-size: 14px;
  line-height: 30px;
}
footer .bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: NotoR;
  font-size: 15px;
}
footer .bottom > p{
  color: #fff;
  
}
footer .bottom div{
  display: flex; align-items: center;
  gap: 50px;
}
footer .bottom div p:last-child{
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  padding: 10px;
}
footer .bottom div p:last-child span{
  margin-left: 40px;
}


/* top버튼 시작 */
a#MOVE_TOP_BTN{
  position: fixed;
  right: 2.2%;
  bottom: 20%;
  display: none;
  z-index: 999;
  width: 40px; height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  background-image: url(../images/top_40X40.png);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}





@media screen and (max-width:1376px) {
  /* s1 시작 */
/*   .conAll .txt h1.title{
    font-size: 110px;
  } */
/*   .s1 > p {
    width: 85%;
  }
  .s1 > p img{
  } */

  /* footer 시작 */
  footer{
   padding: 50px 100px;
  }
  footer .top{
    flex-direction: column;
  }
  footer .top .left{
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }
  footer .top .left ul{
    margin-top: 0;
    margin-left: 50px;
  }
  footer .top .foot_nav{
    justify-content: space-between;
    padding: 0 50px; 
  }
  footer .top .foot_nav .sub{display: none;}
}


@media screen and (max-width:1280px){
  /* header 시작 */
  header ul.nav{display: none;}

  /* s1 시작 */
  .conAll .txt h1.title{
    font-size: 80px;
    line-height: 80px;
  }
  .conAll .txt h4{
    font-size: 45px;
  }
  .conAll .txt p{
    font-size: 16px;
  }
  .conAll .btn a{
    width: 70px; height: 70px;
  }
  .conAll .btn p{
    line-height: 70px;
  }
  .conAll .btn p:first-child{
    font-size: 16px;
  }
  .conAll .btn p:last-child{
    width: 70px; height: 70px;
    line-height: 70px;
  }
  .conAll .btn:hover a{
    width: 250px;
  }
  .conAll .btn:hover p:first-child{
    width: 180px;
  }
  .conAll .btn:hover p:last-child{
    transform: translateX(180px);
  }
  
  /* s4 시작 */
  .s4 .contents li{
    flex: 1 1 calc(100% / 3);
  }
  .s4 .contents li.on{
    flex: 1 1 calc(100% / 3);
  }
  .s4 .contents li h3.on{
    font-size: 18.7px;
    text-align: center;
    color:#99FFAC
  }
  .s4 .con_txt li .left_txt h3{
    font-size: 25px;
  }
  .s4 .con_txt li .left_txt p{
    font-size: 16px;
    /* margin-top: 15px; */
  }
  .s4 .con_txt li a img{
    width: 85%; height: 85%;
  }

  /* s5 시작 */
  .s5 .left h1{
    font-family: InterEB;
    font-size: 50px;
    text-align: left;
  }
  .s5 .left p{font-size: 15px;}
}

@media screen and (max-width:900px){
  /* s1 시작 */
  .conAll .txt h1.title{
    font-size: 60px; line-height: 60px;
    position: relative;
  }
  .conAll .txt h1.title::before{
    content: "";
    position: absolute; left: 0; top: -40px;
    width: 140px; height: 7px;
    background-color: #fff;
  }
  .conAll .txt h4{font-size: 35px;}
  .conAll .txt p br.m{display: block;}
  .s1 > p{display: none;}
  .s2 > p{display: none;}
  .s3 > p{display: none;}
  .s4 > p{display: none;}
  .conAll .btn a{
    width: 60px; height: 60px;
  }
  .conAll .btn p{
    line-height: 60px;
  }
  .conAll .btn p:first-child{
    font-size: 15px;
    margin-left: 15px;
  }
  .conAll .btn p:last-child{
    width: 60px; height: 60px;
    line-height: 60px;
  }
  .conAll .btn:hover a{
    width: 220px;
  }
  .conAll .btn:hover p:last-child{
    transform: translateX(165px);
  }

  /* s4 시작 */
  .s4 .con_txt li{
    gap: 60px;
  }
  .s4 .contents li h3{
    font-size: 16px;
  }
  .s4 .contents li h3.on{
    font-size: 16px;
  }
  .s4 .con_txt li .left_txt h3{
    font-size: 22px;
  }
  .s4 .con_txt li .left_txt p{
    font-size: 15px;
    margin-top: 15px;
  }
  .s4 .con_txt li a img{
    width: 85%; height: 85%;
  }
}


@media screen and (max-width:768px){
  /* s1 시작 */
  .conAll .txt h1.title{
    font-size: 45px; line-height: 45px;
  }
  .conAll .txt h1.title::before{
    top: -35px; width: 95px; height: 6px;
  }
  .conAll .txt h4{font-size: 29px;}
  .conAll .txt p{
    font-size: 14.5px;
    letter-spacing: -1px;
    line-height: 25px;
  }
  .conAll .btn{
    left: -100%;
  }

  /* s4 시작 */
  .s4 .contents{
    margin: 0;
    width: 88%;
    flex-direction: column;
    height: 50%;
  }
  .s4 .contents li{
    height: calc(100% / 3);
  }
  .s4 .contents li h3{
    padding: 10px 30px;
  }
  .s4 .con_txt{width: 80%;}
  .s4 .con_txt li{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
  }
  .s4 .con_txt li .left_txt h3{
    font-size: 20px;
    line-height: 25px;
  }
  .s4 .con_txt li .left_txt p{
    font-size: 14px;
  }
}


@media screen and (max-width:500px){
  /* s1 시작 */
  .conAll .txt h1.title{
    font-size: 38px; line-height: 38px;
  }
  .conAll .txt h1.title::before{
    top: -25px; width: 85px; height: 5px;
  }
  .conAll .txt h4{font-size: 25px;}

  /* s4시작 */
  .s4 .contents{
    width: 85%;
  }
  .s4 .con_txt li .left_txt h3{
    font-size: 18px;
  }
}